{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>OrderWhat</title>
	
		<link rel="stylesheet" href="{%static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Introducing OrderWhat</h1>
			<h2>We help you find the best items on the menu at a restaurant.</h2>

			<p>Have you ever been to a "5 star" restaurant and had a bad item?  Do you know a so-called 1-star restaurant that has a secret 5-star item on the menu?  Finding the best entree can be hard. Let us make it easier.  We help you find those rare gems on the menu at your soon-to-be favorite restaurant. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>